<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A New Day is up for sale</h1>
    <p></p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p></p>
  </body>
</html>
