<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1><%= @seller.name %> has sold a day to <%= @buyer.name %>.</h1>
		<p>Date: <%= @day.date.to_formatted_s(:long) %></p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p></p>
  </body>
</html>
