<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1><%= @seller.name %>'s day has been purchased.</h1>
		<p>Purchasing child: <%= @buyer.name %></p>
		<p>Date: <%= @day.date.to_formatted_s(:long) %></p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <h3>
      Info for buyers:
    </h3>
    <ul>
      <li>Drop off takes place between 8 - 9am</li>
      <li>Sign in is located on the fridge. Please sign in using the name of who will pick up your child (not mom, dad, babysitter, etc.)</li>
      <li>In the case of alumni, feel free to use the cubby of the child whose day you bought</li>
      <li>Remember to bring a lunch, a blanket, 1 stuffy and change of clothes</li>
      <li>Make sure your child is dressed appropriately for the weather</li>
      <li>If you'd like part of your child's lunch heated up, a bin for heat ups is in the fridge</li>
      <li>The school day ends at 3:20. Normal pickup happens between then at 4:30.</li>
      <li>Afterschool charges start at 3:30. Alumni staying for afterschool need to be picked up at/by 4:30. It is then the discretion of the teacher to assess numbers and inform parent if alum can stay past 4:30.</li>
      <li>For the 2019-2020 school year, Chickpeas is not nut-free</li>
    </ul>
  </body>
</html>
