<%= form_tag("/years/#{year.id}/children/returning", method: "post", local: true) do %>
  <% child_options = children.map { |child| ["#{child.name}", child.id] } %>
	<div class="form-group">
		<%= select_tag :child_id, options_for_select(child_options), class: "form-control" %>
	</div>

	<div class="form-group">
		<%= submit_tag "Add Child", class: "btn btn-primary" %>
	</div>
<% end %>
