<h1>Add a Child to <%= @year.value %></h1>

<%= render 'returning_child_form', year: @year, children: @existing_children %>

<hr />

<%= render 'new_child_form', year: @year, child: @child %>

<%= link_to 'Back', :back %>
